body
{
    background-color: #3300cc;
}
#proposition {
    margin: 1em;
    height: 2em;
    padding-left: 0.5em;
}
#bouton {
    height: 2em;
    background-color:#33cc66;
    color:#666633;
}
#resultat {
    border: 1px pink dashed;
    margin: 0 1em;
    line-height: 2em;
    padding-left: 0.5em;
}
